@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color:#ffff;
  background:#ddd;
}

.header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

h2 {
  font-size: 30px;
  margin: 0;
}

.formContainer {
  max-width: 600px;
  margin: 0 auto;
  background: #1b1b32;
  box-shadow:10px 5px 10px 5px #000;
}

.form-field {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.input-field {
  width: 45%;
  display: inline-block;
  margin: 5px 10px;
}

input[type="text"],
.select-option {
  width: 90%;
  font-size: 15px;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
}

#dropdown{
  width:100%;
}

option{
  color:#495057;
}


.radio-field input[type="radio"] {
  width: 40px;
  height: 25px;
  position: relative;
  right: 10px;
}

.radio-field label {
  position: relative;
  bottom: 7px;
  right: 20px;
}

.radio-field,
.dropdown-menu,
.checkbox-field,
.textarea-field ,
.btn-field{
  width: 95%;
  margin: 0 auto;
}

.checkbox-field label {
  display: flex;
  margin: 5px 0;
}

.checkbox-field input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

 
button{
  width:100%;
  font-size:20px;
  color:#fff;
  padding:15px;
  margin:15px auto;
  background:rgb(81, 245, 125);
  border:none;
  outline:none;
  cursor:pointer;
  text-align:center;
} 


@media screen and (max-width:520px){
  .input-field {
    width:100%;
    margin:0;
    display:block;
  }
  #dropdown{
    width:97%;
  }
  
  .radio-field input[type="radio"] {
  width: 20px;
  height: 20px;
  position: relative;
  right: 8px;
}

.radio-field label {
  position: relative;
  bottom: 5px;
  right: 14px;
}
  
  textarea{
    width:98%;
  }
 
}

@media screen and (max-width:576px){
  textarea{
    width:100%;
  }
}